body {
    height: 100vh;
}

.nav{
    margin-top: 75px;
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
}

.title-container {
    margin-top: 225px;
    margin-bottom: -10px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;    
    justify-content: center;
    font-size: 2rem;
}

.soon {
    display: flex;
    justify-content: center;
}

.left-click {
    margin-right: 50px;    
}

.right-click {
    margin-left: 50px;
}

.app {
    color: rgb(.666, .7294, .7686);
}